#choose{
font-family: Rubik, sans-serif;
font-size:18px;
border-radius:15px;
border-color:black;
background: white;
direction: rtl;
}

#choose>option {
font-size:16px;
background:white;
font-family: Rubik, sans-serif;
direction: rtl;
}